/* inst/app/www/custom.css */
.detection_sound_image {
  position: relative;
  display: inline-block;
}

/*
.detection_sound_image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
*/

.overlay_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  padding: 5px;
  border-radius: 10%;
  pointer-events: none;
}


.species_card {
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 0px;
}

.body_sound_image {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 8px;
  padding-right: 0px;
}

.body_data {
  margin-top:auto;
  margin-bottom:auto;
  flex:1 1 auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

