/* inst/app/www/custom.css */
.detection_sound_image {
  position: relative;
  display: inline-block;
}

/* does not work */
.bslib-value-box .card-body {
  padding-right: 0.1rem !important;
  padding-top: 0.4rem !important;
  padding-left: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}



.overlay_icon {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 4%;
  left: 4%;
  /* transform: translate(10%, 10%); */
  font-size: 20px;
  color: rgba(53, 53, 53, 1);
  background: rgba(255, 255, 255, 0.8);
  padding: 0px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}


.species_card {
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 0px;
}

.body_sound_image {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 8px;
  padding-right: 0px;
}

.body_data {
  margin-top:auto;
  margin-bottom:auto;
  flex:1 1 auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}
