/* skeleton.css */
.skeleton {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, #eeeeee 0%, #dddddd 20%, #eeeeee 40%, #eeeeee 100%);
  background-size: 800px 104px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.skeleton-box {
  height: 100px;
  width: 100%;
  margin: 10px 0;
}

.skeleton-title {
  height: 20px;
  width: 50%;
  margin-bottom: 10px;
}

.skeleton-text {
  height: 14px;
  width: 80%;
  margin-bottom: 10px;
}
